{
	auto_https off
	order defender after header
	debug
}

:80 {
	bind 127.0.0.1 ::1
	# Everything in AWS besides my EC2 instance is blocked from accessing this site.
	defender block {
		ranges aws
		whitelist 169.254.169.254 # my ec2's public IP.
	}
	respond "This is what a human sees"
}

:81 {
	bind 127.0.0.1 ::1
	# My localhost ipv6 is blocked but not my ipv4
	defender block {
		ranges private
		whitelist 127.0.0.1
	}
	respond "This is what a ipv4 human sees"
}
