{
    auto_https off
    order defender before basicauth
    debug
}

:80 {
    defender custom "wow this is so good" {
        ranges 127.0.0.0/8
    }
    respond "This is what a human sees"
}


:83 {
    respond "Clear text HTTP"
}

