{
    auto_https off
    order defender before basicauth
    debug
}

:80 {
    defender garbage {
        ranges 127.0.0.0/8
    }
    respond "This is HTTP, no redirect!"
}


:83 {
    respond "Clear text HTTP"
}

