{
    auto_https off
    order defender before basicauth
    debug
}

:80 {
    defender garbage  {
        ranges localhost
    }
    respond "This is what a human sees"
}


:83 {
    respond "Clear text HTTP"
}

