{
    auto_https off
    order defender before basicauth
    debug
}

:80 {
    defender custom {
        ranges localhost
        message "You are not welcome here"
    }
    respond "This is what a human sees"
}


:83 {
    respond "Clear text HTTP"
}

